.app {
    padding-top: 41px;
}

#sideBar {
    -webkit-transition: left 300ms;
    -moz-transition: left 300ms;
    -o-transition: left 300ms;
    transition: left 300ms;
    left: 0;
    height: 100%;
    width: 240px;
    top: 44px;
    background-color: #2c3136;
}

#content {
    -webkit-transition: padding-left 300ms;
    -moz-transition: padding-left 300ms;
    -o-transition: padding-left 300ms;
    transition: padding-left 300ms;
    padding: 0 0 0 240px;
}

#content .wrapper-content {
    box-shadow: none;
}

.menu-inactive #sideBar {
    left: -195px
}

.menu-inactive #content {
    padding-left: 50px;
}
